@font-face {
        font-family: 'Cogncuredged'; 
        src: url('https://github.com/Osbarber/Osbarber.github.io/blob/main/cogncuroblique.ttf') format('truetype'); /* Adjust path and format as needed */
        font-weight: normal;
        font-style: normal;
    }

body {
    background: red;
    font-family: 'cogncuredged';
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
}